/**
 * @file
 * This file contains some styling for views.
 */

/**
 * We rewrite views grids to use divs rather than tables.
 */
.views-view-grid {
  overflow: hidden;
}
.views-view-grid .col {
  float: left;
  margin: 0 10px;
}

.views-view-grid .col-first {
  margin-left: 0;
}

.views-view-grid .col-last {
  margin-right: 0;
}

.views-view-grid .row {
  clear: both;
}


.views-view-grid.cols-4 .col {
  width: 220px;
}

.views-view-grid.cols-3 .col {
  width: 300px;
}

.views-view-grid h3 {
  font-size: 1.3em;
}

/**
 * Four cols aren't possible with grid-9
 */
.grid-9 .views-view-grid.cols-4 .col-3 {
  margin-right: 0px;
}

.grid-9 .views-view-grid.cols-4 .col-4 {
  margin-left: 0px;
}


/**
 * Make images smaller for smaller screens.
 */
@media all and (max-width: 959px) {
  .views-view-grid.cols-4 .col {
    width: 172px;
  }
  .views-view-grid .col {
    width: 172px;
  }
  .views-view-grid img {
    width: 172px;
    height: 100px;
  }
}

/**
 * Avoid floating and margins when we have a small screen.
 */
@media all and (max-width: 710px) {
  .views-view-grid .col,
  .views-view-grid.cols-4 .col {
    width: 300px;
    float: none;
    margin: 0;
  }
  .views-view-grid img {
    width: 300px;
    height: 168px;
  }
}

/**
 * Some default styling for views rows.
 */
.views-row {
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

.item-list ul li.views-row {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 10px 0;
}

@media all and (max-width: 710px) {
  .views-row .content-column-two-left img {
    width: 300px;
    height: 168px;
  }
}

/**
 * Add some margin by default for exposed forms.
 */
.views-exposed-form {
  margin: 20px 0;
}

/**
 * Reset margin added by views.
 */
.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0px;
  margin-left: 3px;
  line-height: 18px;
}

/**
 * No margin in the branding area.
 */
.branding .views-exposed-form .views-exposed-widget {
  margin: 0;
  padding: 0;
}

.branding .views-exposed-form .form-type-textfield {
  max-width: 220px;
}
