/**
 * @file
 * Contains some handy components that can be used to style:
 * - Thumbnails
 * - Cycle
 * -
 */

.thumbnails {
  display-style: table;
}

/**
 * Put this class around an element to create a border around it.
 */
.thumbnail {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 10px;
  padding: 4px;
}

.thumbnail .caption {
  padding: 9px;
}

/**
 * A simple slideshow.
 * Usage:
 *  Attach the cycle class to an element and allt classes named .item
 *  will be cycled.
 *  Add the "controls" class to get a prev and next button.
 */
.cycle {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

.cycle .caption {
  background: #222;
  position: absolute;
  bottom: 5px;
  height: 100px;
  width: 100%;
  color: white;
  opacity: 0.7;
  padding: 9px;
}

.cycle .controls {
  display: block;
  clear: both;
}

.cycle .prev,
.cycle .next {
  font-size: 60px;
  position: absolute;
  height: 40px;
  width: 40px;
  color: #fff;
  top: 40%;
  padding-top: 3px;
  text-align: center;
  display: block;
  border: 3px solid #fff;
  border-radius: 50px;
  background: #222;
  opacity: 0.6;
}

.cycle .prev {
  left: 1%;
}

.cycle .next {
  right: 1%;
}

.cycle .prev:hover,
.cycle .next:hover {
  text-decoration: none;
  background: #333;
  opacity: 1;
}

.cycle .pager {
  color: #fff;
  display: inline-block;
  position: absolute;
  top: 90%;
  right: 1%;
}

.cycle .pager .page {
  background: #222;
  width: 20px;
  display: inline-block;
  text-align: center;
  border: 1px solid #fff;
  text-decoration: none;
  color: #fff;
  opacity: 0.6;
  margin-right: 1px;
}

.cycle .pager .page:hover,
.cycle .pager .page.active {
  opacity: 1;
}

/**
 * Support for two column layout in the slideshow.
 */
.cycle .content-column-two {
  background: #4C565C;
  border-radius: 5px;
  color: #fff;
  height: 320px;
  position: relative;
}

.cycle .content-column-two .pager {
  top: 100%;
}

.cycle .content-column-two-left {
  width: 600px;
}

.cycle .content-column-two-right {
  width: 330px;
  padding: 20px 10px;
}

.cycle .content-column-two-right a {
  color: #EC8C1E;
}

/**
 * Make images smaller for smaller screens.
 */
@media all and (max-width: 959px) {
  .cycle .content-column-two {
    height: 225px;
  }
  .cycle .content-column-two-left {
    width: 400px;
  }
  .cycle .content-column-two-left img {
    width: 400px;
    height: 225px;
  }
  .cycle .pager {
    top: 85%;
    left: 90%;
  }
}

/**
 * Mobile screens should get a regular slideshow.
 */
@media all and (max-width: 710px) {
  .cycle .content-column-two {
    height: auto;
  }
  .cycle .content-column-two-left img {
    width: 300px;
    height: 168px;
  }
  .cycle .content-column-two-left {
    height: auto;
    width: 100%;
  }
  .cycle .content-column-two-right {
    width: 100%;
    height: auto;
    min-height: 100px;
    width: 100%;
    padding: 9px;
  }
  .cycle .pager {
    float: right;
    position: static;
    top: 0;
    left: 0;
  }
}


/**
 * Navigation.
 */
nav ul li a {
  border-bottom: 1px dotted #ccc;
  color: #333;
  display: block;
  padding: 8px 12px;
}

nav ul li.first a {
  border-top: 1px solid dotted #ccc;
}

nav ul li a:hover,
nav ul li a.active {
  background: #eee;
  text-decoration: none;
}

nav ul li.expanded ul {
  margin-left: 20px;
}

/**
 * Highlighted text is bigger than normal text and can
 * be used as leads.
 */
.highlighted {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  line-height: 24px;
}
.highlighted p {
  margin: 0;
}

/**
 * Rows are used by panels ref formatter. Let's clear any floats
 * we have set before.
 */
.row {
  clear: both;
}

/**
 * Promo component. We need some custom styling for thumbnails
 * that should float left.
 */
.promo.thumb-floated-left {
  float: left;
  width: 220px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.promo {
  margin-bottom: 10px;
}

.promo.thumb-floated-left:first-of-type {
  margin-left: 0;
}

.promo.thumb-floated-left:last-of-type {
  margin-right: 0;
}

.promo a {
  color: inherit;
}

.promo a h3 {
  color: #0084b4;
  font-size: 1.3em;
}

.promo a:hover {
  text-decoration: none;
}

/**
 * Boxes have a background and some padding.
 * Ideal for fact boxes.
 */
.box {
  padding: 10px;
  background: #eee;
  margin-bottom: 10px;
}

/**
 * Blocks can add margin to top and bottom.
 */
.margin-top {
  margin-top: 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}

/**
 * Clouds are useful when you want to display things like terms in a 'cloud'
 * of items.
 */
.cloud .cloud-item,
.cloud .views-row,
.cloud .field-item {
  float: left;
  border: none;
  border-radius: 3px;
  color: #fff;
  padding: 1px 4px 2px;
  background-color: #3A87AD;
  margin: 2px;
}

.cloud .cloud-item a,
.cloud .views-row a,
.cloud .field-item a {
  color: #fff;
}
