body {
  background: #eee;
}

#page {
  background: #fff;
}
/**
 * Layout styling
 */
.branding {
  padding-top: 20px;
  background: #fff;
}

.branding-right > * {
  float: right;
}

@media all and (max-width: 710px) {
  .branding-right > * {
    float: none;
  }
}

.branding .pane-header {
  float: left;
}

#logo {
  float: left;
  display: block;
}

@media all and (max-width: 710px) {
  #logo img {
    max-width: 300px;
  }
}

#site-name {
  float: left;
  margin-left: 20px;
  margin-top: 30px;
  line-height: 1;
  font-size: 22px;
  font-weight: bold;
}
.branding hgroup {
  float: left;
}

.branding nav {
  clear: both;
  margin-top: 20px;
}

.branding nav li {
  float: left;
  margin-right: 2px;
}
.branding nav li a {
  float: left;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  border: none;
}

.branding nav li a.active,
.branding nav li a.active-trail,
.branding nav li a.active:hover,
.branding nav li a.active-trail:hover {
  background: #EC8C1E;
  border-radius: 3px;
  color: #fff;
}

.branding nav li a:hover {
  background: inherit;
  color: #EC8C1E;
}

@media all and (max-width: 710px) {
  .branding nav {
    margin: 0;
  }
  .branding nav li {
    width: 45%;
  }
}

.branding ul.language-switcher-locale-url {
  float: right;
  line-height: 14px;
  font-size: 10px;
  margin-left: 8px;
}

.branding ul.language-switcher-locale-url li {
  margin-left: 8px;
  padding: 0;
}

#main {
  background: #fff;
}

.page-content {
  padding: 10px 0;
}

/* Prevent inputs from growing too large. */
#sidebar-first input {
  max-width: 100%;
}

footer[role="contentinfo"] {
  clear: both;
  padding: 20px 0;
  border-top: 1px solid #ddd;
}
footer[role="contentinfo"] section {
  float: left;
  margin-right: 20px;
}
footer[role="contentinfo"] section.last {
  margin: 0;
}

footer[role="footer"] {
  color: #999;
}

footer[role="footer"] nav {
}

footer[role="footer"] nav ul li.expanded ul {
  margin: 0;
}

footer[role="footer"] nav ul li.top-level ul {
  margin-left: 5px;
}

footer[role="footer"] nav ul li a {
  border: none;
  color: #999;
  padding: 2px 8px;
}

footer[role="footer"] nav ul li a:hover,
footer[role="footer"] nav ul li a.active,
footer[role="footer"] nav ul li a.active-trail {
  background: none;
  font-weight: bold;
}

footer[role="footer"] nav ul li.level-1 {
  float: left;
  display: inline-block;
}

footer[role="footer"] nav ul li.level-1 a {
  font-weight: bold;
}

footer[role="footer"] nav ul li.secondary a {
  text-transform: none;
  font-weight: normal;
}

/**
 * Mobile screens should have a different footer.
 */
@media all and (max-width: 710px) {
  footer[role="footer"] nav ul li.level-1 {
    float: left;
    width: 150px;
    display: block;
  }
}

/**
 * Content column two NS layout.
 */
.content-column-two-left-inner {
  float: left;
  margin-right: 10px;
}

.content-column-two-right {
  float: left;
}

.content-column-two {
  clear: both;
}

@media all and (max-width: 710px) {
  .content-column-two-left-inner {
    float: none;
    margin: 0;
  }

  .content-column-two-right {
    float: none;
  }
}

/**
 * Add some margin and padding for not-managed pages
 */
.not-managed {
  margin: 0 10px;
}