/*
 * Base
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: none;
}

body {
  margin: 0;
  letter-spacing: 0.03em;
}

body, select, input, textarea {
  color: #404040;
  font-size: 13px;
  line-height: 19px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*
 * Links
 */
a {
  color: #0084b4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:hover, a:active {
  outline: none;
}

hr {
  border-color: #ccc;
}

mark {
  background-color: #46a7e2;
  color: #000;
}

ins {
  background-color: #46a7e2;
  color: #000;
}

/*
 * Typography
 */
h1, h2 {
  margin-bottom: 10px;
}
h1 {
  font-size: 34px;
  line-height: 38px;
}
h2 {
  font-size: 24px;
  line-height: 26px;
}
h3 {
  font-size: 20px;
  line-height: 22px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 13px;
  text-transform: uppercase;
}

p {
  margin: 10px 0;
}

dd {
}

ul, ol {
  padding: 7px 25px;
}

.codeblock {
  margin: 10px 0;
}

nav ul, nav ol {
  list-style: none;
  padding: 0;
  list-style-image: none;
}

/*
 * Embedded content
 */
img {
  border: 0;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

/*
 * Figures
 */
figure {
  margin: 0;
}

/*
 * Tables
 */
table {
  width: 100%;
  margin-bottom: 20px;
}
table th, table td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
}
table th {
  font-weight: bold;
}
table td {
  border-top: 1px solid #ddd;
}

tr.even, tr.odd {
  background: transparent;
}
tr.odd td {
  background-color: #f9f9f9;
}
tr.even td.active,
tr.odd td.active {
  background: #eee;
}
tr.drag td {
  background: #fffce5;
}

/**
 * Fieldsets.
 *
 * Copy of the fieldsets from Seven
 */
fieldset {
  border: 1px solid #ddd;
  padding: 2.5em 0 0 0; /* LTR */
  position: relative;
  margin: 1em 0;
}
fieldset .fieldset-legend {
  margin-top: 0.5em;
  padding-left: 15px; /* LTR */
  position: absolute;
  text-transform: uppercase;
}
fieldset .fieldset-wrapper {
  padding: 0 13px 13px 15px; /* LTR */
}
fieldset.collapsed {
  background-color: transparent;
}
html.js fieldset.collapsed {
  border-width: 1px;
  height: auto;
}
fieldset fieldset {
  background-color: #fff;
}
fieldset fieldset fieldset {
  background-color: #f8f8f8;
}

/*
 * Forms
 */
input,
textarea,
select,
submit {
  display: inline-block;
  padding: 5px;
  line-height: 18px;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  max-width: 100%;
}
select,
input[type=file] {
  height: 27px;
  line-height: 27px;
  padding: 4px 5px;
}
select[multiple] {
  height: inherit;
}
textarea {
  height: auto;
}
input[type="checkbox"],
input[type="radio"] {
  line-height: normal;
  margin: 0;
  padding: 0;
}
input[type="checkbox"] {
  margin-top: -1px;
}
input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: auto;
}
input,
textarea {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-top: 0;
}
input:focus,
textarea:focus {
  outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
input[type=file]:focus,
input[type=checkbox]:focus,
select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 1px dotted #666;
}

html.js fieldset.collapsed {
  margin: 0;
}
html.js input.form-autocomplete {
  background-position: 100% 8px;
}
.resizable-textarea .grippie {
  display: none;
}

input[type=submit] {
  background-color: #e6e6e6;
  background-image: -moz-linear-gradient(center top, #fff, #fff 25%, #e6e6e6);
  background-repeat: no-repeat;
  border-color: #ccc #ccc #bbb;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  padding: 4px 14px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
input[type=submit]:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}
input[type=submit]:focus {
  outline: 1px dotted #666;
}
.form-item,
.form-actions {
  margin: 10px 0;
}
.form-checkboxes .form-item,
.form-radios .form-item {
  margin: 4px 0;
}


/*
 * Drupal styles
 */
.item-list .pager {
  clear: both;
  text-align: center;
}
.item-list .pager li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.item-list .pager-current {
  color: #000;
  font-weight: normal;
}

#tabs {
  margin-top: 10px;
}

ul.tabs {
  padding: 0;
}

.tabs li {
  float: left;
  list-style: none;
}
.tabs li a {
  color: #444;
  font-weight: bold;
  margin: 0 2px 2px 0;
  padding: 6px 10px;
  border-radius: 3px;
}
.tabs li a:hover,
.tabs li.active a {
  color: #fff;
  background: #4C565C;
  text-decoration: none;
}

@media all and (max-width: 710px) {
  .tabs li {
    width: 50%;
    margin-bottom: 10px;
  }
}

.action-links {
  padding: 5px;
  margin-bottom: 10px;
}
.action-links li {
  display: inline-block;
}
.action-links li a {
  margin-left: 10px;
  background: transparent url(../../images/add.png) no-repeat 0 center;
  margin-right: 10px;
  padding-left: 15px;
}

.breadcrumb {
  font-size: 11px;
  margin-bottom: 20px;
}

.description {
  color: #999;
}

div.messages {
  padding: 10px 14px;
  margin: 0 0 20px 0;
  background-image: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

form .field-multiple-table th.field-label {
  padding-left: 10px;
}

.filter-wrapper {
  color: #666;
  font-size: 11px;
  line-height: 16px;
}

.media-widget .button {
  margin: 0;
}

.dialog-links {
  margin-top: 6px;
}

/**
 * Contextual links and admin links
 */

.contextual-links-region {
  position: relative;
}

.contextual-links-region:hover .admin-links {
  visibility: visible;
}

.vertical-tabs .summary {
  color: #666;
  font-size: 11px;
  line-height: 16px;
}
.vertical-tabs fieldset.vertical-tabs-pane {
  padding: 10px 20px;
}
.vertical-tabs ul.vertical-tabs-list li a {
  padding: 8px 10px;
}

.ajax-progress {
  clear: both;
  overflow: hidden;
}
.ajax-progress .throbber,
.ajax-progress .message {
  float: left;
}
.ajax-progress .message {
  font-size: 11px;
  padding-top: 2px;
}

/**
 * Toolbar for smaller screens.
 */
@media all and (max-width: 710px) {
  #toolbar div.toolbar-menu {
    padding: 2px;
  }
}

/**
 * Administrative content type listing.
 */
.node-type-list dd {
  border-bottom: 1px solid #ddd;
  padding: 0 0 4px 10px;
}
.node-type-list dt {
  padding: 5px;
  font-size: 15px;
}

/**
 * Node Admin form
 */
#node-admin-content fieldset legend {
  font-weight: bold;
}

/**
 * Clear floated elements
 */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/**
 * Links
 */
ul.links.inline li {
  display: inline;
}

ul.links {
  list-style-type: none;
}


/**
 * Comments.
 */
article.comment {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #ddd;
}

article.comment ul.links {
  margin: 5px 0;
}

article.comment ul.links a {
  border-radius: 3px;
  color: #fff;
  padding: 1px 4px 2px;
  font-weight: bold;
  background-color: #3A87AD;
}

article.comment ul.links .comment-delete a {
  background-color: #B94A48;
}

/**
 * Node-specific things.
 */
.node-created {
  font-style: italic;
  color: #666;
}

/**
 * Media players and stuff
 */
@media all and (max-width: 710px) {
  .media-youtube-outer,
  .media-youtube-outer-wrapper,
  .youtube-player {
    width: 300px !important;
    height: 200px !important;
  }
}

/**
 * Language switcher
 */
ul.language-switcher-locale-url li {
  display: inline;
}
